<app-navbar></app-navbar>
<div class="navdiv">
    <a href="employee"><span class="nav-text">रजेचा अर्ज करा</span></a>
    <a href="noteabstract"><span class="nav-text">नोंदीचा गोषवारा</span></a>
    <a href="empsevapushtika"><span class="nav-text">सेवा पुस्तिका</span></a>
    <span id="emp">Hello, {{ fullname }}</span>
    <a href="#" id="logout" class="nav-text" (click)="logout()">Logout</a>
</div>

<div class="container">
    <h2>रजेचा अर्ज करा</h2>
    <form class="leave-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="fullname">पूर्ण नाव:</label>
            <input
              type="text"
              id="fullname"
              [(ngModel)]="leaveForm.fullname"
              name="fullname"
              [value]="fullname"
              disabled
            />
        </div>

        <div class="form-group">
            <label for="leavetype">रजेचा प्रकार:</label>
            <input
              list="leaveTypes"
              id="leavetype"
              name="leavetype"
              [(ngModel)]="leaveForm.leavetype"
              placeholder="प्रकार निवडा किंवा टाइप करा"
            />
            <datalist id="leaveTypes">
                <option *ngFor="let type of leaveTypes" [value]="type.leavetype">{{ type.leavetype }}</option>
            </datalist>
        </div>

        <div class="form-group date-group">
            <label for="fromDate" class="date-label">कधीपासून:</label>
            <input type="date" id="fromDate" name="fromDate" [(ngModel)]="leaveForm.fromDate">
            
            <label for="toDate" class="date-label">कधीपर्यंत:</label>
            <input type="date" id="toDate" name="toDate" [(ngModel)]="leaveForm.toDate">
        </div>

        <div class="form-group">
            <label for="leavereason">कारण:</label>
            <input type="text" id="leavereason" name="leavereason" placeholder="Enter text here" [(ngModel)]="leaveForm.leavereason">
        </div>

        <div class="form-group button-center">
            <button type="submit">अर्ज करा</button>
        </div>
    </form>
</div>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>रजेचा प्रकार</th>
                <th>कारण</th>
                <th>कधीपासून</th>
                <th>कधीपर्यंत</th>
                <th>स्थिती</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let leave of leaveData">
                <td>{{ leave.leavetype }}</td>
                <td>{{ leave.leavereason }}</td>
                <td>{{ leave.fromDate | date }}</td>
                <td>{{ leave.toDate | date }}</td>
                <td [ngClass]="{'approved': leave.status === 'Approved', 'rejected': leave.status === 'Rejected'}">{{ leave.status }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="footer">
    <div class="footer-logo">
        <img src="" class="footer-logo-image" />
        <div class="footer-text">Contents are owned by जिल्हा परिषद, कोल्हापूर</div>
    </div>
    <div class="footer-links">
        <a href="https://settribe.com/" class="footer-link">Developed & Maintained by SETTribe</a>
    </div>
</div>